@font-face {
  font-family: 'bagnardregular';
  src: url('../images/bagnard-webfont.woff2') format('woff2'),
       url('../images/bagnard-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: black;
  font-family: 'bagnardregular';
  padding: 20px 40px 100px 40px;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  word-break: break-word;
}
.zine {
  font-size: 2em;

  &:hover {
    color: yellow !important;
  }
}
h1 {
  color: white;
  font-size: 3em;
  margin: 0 0 45px 0;
  word-break: break-word;
  @media screen and (min-width: 768px) {
    font-size: 6em;
  }
}

h3 {
  color: white;
  font-size: 1.125em;
  word-break: break-word;
  @media screen and (min-width: 768px) {
    font-size: 2em;
  }
}

a {
  display: block;
  color: white !important;
  text-decoration: none;
}

h2 {
  color: white;
  margin: 0 0 25px 0;
  font-size: 1.25em;
  border-bottom: 3px solid white;
  line-height: 1em;
  word-break: break-word;
  @media screen and (min-width: 768px) {
    font-size: 4em;
  }

  &:hover {
    color: #ffee38 !important;
    border-color: #ffee38;
  }
}

header a:hover h1 {
  color: #ffee38;
}

.grid {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .image {
    padding: 20px;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 33.33%;
    }

    &.large {
      @media screen and (min-width: 768px) {
        margin: 0 auto;
        width: 80%;
      }
    }
  }

  .text {
    color: white;
    padding: 20px;
    width: 100%;
    font-size: 1.125em;
    @media screen and (min-width: 768px) {
      font-size: 1.125em;
      width: 33.33%;
    }
    a {
      display: block;
      border-bottom: 5px solid royalblue;
    }
    h4 {
      margin: 0;
      line-height: 1em;
    }

    a h4:hover {
      color: royalblue;

    }

    p {
      margin: 12px 0 22px 0;
    }
  }
}
